---
import FiltersLayout from "../../layouts/FiltersLayout.astro";
import Layout from "../../layouts/Layout.astro";
import { getResultsRecords } from "../../services/get-results-records";
import { getAllSelects } from "../../services/get-selects-form";
import type { Results } from "../../types/selects.form.types";
import { formatOptions } from "../../utils/formats";
import { parseQueryToObjt } from "../../utils/querys-format";

const titlePage = "Barrios cerrados y countries";
const selects = (await getAllSelects()) as Results;
const { barrio: barrios1, localidades: sellocalidades } = selects;
const bar = formatOptions(barrios1);
const loc = formatOptions(sellocalidades);
const { search } = Astro.url;
let searchData;
// sacar el ? del url.search y convertirlo en un objeto
const queryObj = parseQueryToObjt(search.slice(1, search.length));

// Fetch search data load in_tpr filter by default
if (queryObj) {
  searchData = await getResultsRecords({ in_tpr: "COUNTRY", ...queryObj });
} else {
  searchData = await getResultsRecords({ in_tpr: "COUNTRY" });
}
---

<Layout title={titlePage}>
  <article>
    <h1
      class="tracking-tighter text-5xl mb-10 text-gray-100 dark:text-gray-100"
    >
      Barrios cerrados y countries
    </h1>
    <FiltersLayout selects={selects} list={searchData} />
  </article>
</Layout>
