---
import FormFilters from "../../components/preact/FormFilters";
import FormFilter from "../../components/preact/FormFilters";
import Layout from "../../layouts/Layout.astro";
import type { Option, Results } from "../../types/selects.form.types";
import { getAllSelects } from "../../services/get-selects-form";
import { fetchData } from "../../utils/fetch-data";
import { getResultsRecords } from "../../services/get-results-records";
import SearchLayout from "../../layouts/SearchLayout.astro";

const titlePage = "Barrios cerrados y countries";
const selects = (await getAllSelects()) as Results;
const params = Astro.params
const {fichas} = await getResultsRecords({in_tpr: 'COUNTRY'})



---

<Layout title={titlePage}>
  <article >
    <h1 class="tracking-tighter text-5xl mb-10 text-gray-100 dark:text-gray-100">
      Barrios cerrados y countries
    </h1>
    <SearchLayout  selects={selects} list={fichas} />
    </article>
</Layout>