---
import TitleSections from "@/components/TitleSections.astro";
import Layout from "@/layouts/Layout.astro";
const title = "Contacto - Matías Szpira Bienes Raíces";
const description =
  "Contactanos para ayudarte a encontrar tu próximo hogar o inversión.";
---

<Layout title={title} description={description}>
  <section class="bg-secondary-bg-msb font-gotham">
    <div class="container mx-auto">
      <div class="pt-10 pb-5">
        <h1
          class="font-bold text-center tracking-normal pb-5 text-base md:text-2xl lg:text-3xl uppercase"
        >
          Contacto
        </h1>
        <p class="text-lg text-primary-text-msb text-center">
          Envianos tu consulta y te responderemos a la brevedad
        </p>
      </div>
      <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols">
        <div class="text-center">form</div>
        <div>
          <h1
            class={"font-bold text-center tracking-normal pb-5 text-base md:text-md lg:text-lg"}
          >
            OTRAS VÍAS DE CONTACTO
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary-msb">
    <div class="container mx-auto px-3 md:px-0 lg:px-0 py-20">
      <TitleSections
        class="drop-shadow-2xl text-white font-base font-medium font-cormorant text-pretty text-center"
      >
      Nuestras Sucursales
      </TitleSections>
      <p
      class="font-extralight text-white text-center text-md md:text-lg lg:text-2xl"
    >
      Invertí en bienes raíces, nosotros te asesoramos
    </p>
      </div>
      </section>
</Layout>
