---
import Layout from "../layouts/Layout.astro";




---

<Layout title="Home">
  <arcticle>
    <h1 class="text-white text-4xl">Home</h1>
    <p>Home page</p>
  </arcticle>
</Layout>

<style is:global>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
</style>
../../db/setup.db