---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
	<section class="w-full max-w-screen-xl mx-auto h-screen">
		<h1 class="text-white text-4xl">Home</h1>
		<p>Home page</p>
	</section>
</Layout>

<style is:global>
	@keyframes fade-in {
		from { opacity: 0; }
	}
</style>
