<aside class="h-full">
    <div class="flex flex-col h-full">  
        <div class="flex flex-col h-full">
            <form> 
                <div class="flex">
                    <input type="text" class="w-full p-2 border border-gray-300 rounded-l-md" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</aside>