---
import { getResultsRecords } from '../services/get-results-records';
import type { File, Result } from '../types/results.records.types';
import CardResultRecord from './CardResultRecord.astro';
interface Props {
  listItems: File[] 
}
let list;
const { listItems } = Astro.props
const {fichas: All} = await getResultsRecords()
if (listItems){
    
  list = listItems
} else {
  list = All
} 
---

<div transition:animate="slide" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-10 sm:p-5 lg:p-0 ">
    {
      list.map( 
        (record : File) =>  <CardResultRecord cardData={record} /> )}

</div>
