---
import { ViewTransitions } from "astro:transitions";
import ContainerLayout from "./ContainerLayout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="app" class="relative h-screen">
      <!--  <header class="[grid-area:header]">
        <Navbar />
      </header> -->
      <main class="[grid-area:main] bg-gray-800">
        <ContainerLayout>
          <slot />
        </ContainerLayout>
      </main>
      <!--       <footer class="[grid-area:footer]">
        <Footer />
      </footer> -->
    </div>
  </body><style>
    #app {
      display: grid;
      grid-template-areas: "main";

      grid-template-rows: 1fr;
    }
  </style>
</html>
