---
import ListHomes from "../components/ListHomes.astro";
import ListSkeleton from "../components/ListSkeleton.astro";
import Pagination from "../components/Pagination.astro";
import CartFav from "../components/preact/Favorites/CartFav";
import FormFilters from "../components/preact/FormFilters";
import LoadingContent from "../components/preact/LoadingContent";
import ListResultsSkeleton from "../components/preact/Skeletons/ListResultsSkeleton";

import type { Results } from "../types/selects.form.types";
import SpinnerLayout from "./SpinnerLayout.astro";

interface Props<T> {
  selects: Results;
  list: T;
  zones?: T;
}
const { selects, list, zones } = Astro.props as Props<any>;

let notFound = false;
if (list?.fichas?.hasOwnProperty("error")) {
  notFound = true;
} else {
  notFound = false;
}
---

<div class="flex flex-col lg:flex-row">
  <aside class="lg:w-1/4 rounded lg:ml-4 m-4">
    <div class="sticky top-0 bg-[#374151] rounded p-3">
      <h2 class="font-semibold text-white mb-2 lg:mb-0 py-2">FILTROS</h2>
      <FormFilters transition:persist selects={selects} client:load />
    </div>
  </aside>
  <main class="w-full lg:w-3/4 lg:pl-4 p-4 h-full">
    {
      notFound ? (
        <div class="bg-[#374151] p-2 rounded-lg">
          <h2 class="font-semibold mb-4 text-white">
            No se encontraron resultados...
          </h2>
        </div>
      ) : (
        <div>
          <CartFav transition:animate="slide" client:load />

          {!notFound && (
            <SpinnerLayout >
              <ListResultsSkeleton slot="loading-indicator" transition:animate="fade" />
              <ListHomes slot="main-content" listItems={list?.fichas} transition:animate="fade" />
            </SpinnerLayout>
          /*   <LoadingContent loader="ListResultsSkeleton" transition:animate="fade" client:load > */
           
             /*  </LoadingContent> */
              )}
              <Pagination datos={list.datos} />
        </div>
      )
    }
  </main>
</div>
