---
import ListHomes from "../components/ListHomes.astro";
import Pagination from "../components/Pagination.astro";
import FormFilters from "../components/preact/FormFilters";
import type { Results } from "../types/selects.form.types";
interface Props<T> {
  selects: Results;
  list: T;
}
const { selects, list } = Astro.props as Props<any>;

  let notFound = false;
if (list?.fichas?.hasOwnProperty("error")) {
  notFound = true;
}else{
    notFound = false;
}
---

<div class="flex flex-col lg:flex-row ">
  <aside class="lg:w-1/4  rounded lg:ml-4 m-4">
    <div class="sticky top-0 bg-[#374151] rounded p-3">
      <h2 class="font-semibold text-white mb-2 lg:mb-0 py-2">FILTROS</h2>
      <FormFilters transition:persist  selects={selects} client:load />
    </div>
  </aside>
  <main class="w-full lg:w-3/4 lg:pl-4 p-4 h-full">
    {notFound ? (
      <div class="bg-[#374151] p-2 rounded-lg">
        <h2 class="font-semibold mb-4 text-white">No se encontraron resultados...</h2>
      </div>
    ) :  (
      <div>
      <ListHomes listItems={list?.fichas} />
  
       {!notFound &&  (  <Pagination datos={list.datos} />)}
      </div>
      
      )}
  </main>
</div>