---
import ListHomes from '../components/ListHomes.astro';
import { FormSearch } from '../components/preact/FormSearch';
import { getResultsRecords } from '../services/get-results-records';
import type { Result } from '../types/results.records.types';
import type { Results } from '../types/selects.form.types';
import { parseQueryToObjt } from '../utils/querys-format';
//Layout principal para pedir los datos a mi endpoint  
interface Props<T> {
  selects?: Results;
  list: T;
}
/* const { search } = Astro.url;

let searchData;
// sacar el ? del url.search y convertirlo en un objeto
const queryObj = parseQueryToObjt(search.slice(1, search.length));
// Fetch search data
if (queryObj) {
  searchData = await getResultsRecords(queryObj);
} else {
  searchData = await getResultsRecords();
} */
---

<div>
   <!--  <FormSearch client:load /> -->
   <!--  <ListHomes client:load listItems={searchData.fichas} /> -->
</div>